.loginContainer{
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;

}

.loginForm{
    width:500px;
    max-width:90%;
    height:300px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.inputField{
    width: 80%;
    height:30px;
    padding: 5px 10px;
}

.loginForm #openRegister{
    cursor: pointer;
    color: #333;
}
.loginForm #openRegister:hover{
    text-decoration: underline;
}