*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --nav-height: 60px;
    --nav-bar-color: #007EFE;
    --main-gray: #1E1E1E;
    --light-gray: #414141;
}

body{
    font-family: 'Open Sans', sans-serif;
    width:100vw;
}

button{
    outline:none;
    border:none;
}

a{
    text-decoration: none;
    color:white;
}

li{
    list-style: none;
}

.wrapper{
    width:84%;
    max-width:1100px;
    margin-right:auto;
    margin-left:auto;
}

.show-m{
    display:none;
}

/********************** HEADER **********************/

.header{
    background:var(--nav-bar-color);
    color: white;
    height: var(--nav-height);
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

.header-content{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
}

.header-content h2{
    flex:1;
}

.header-content span{
    color:white;
    margin-right:2rem;
    cursor: pointer;
}

.btn-gray, .btn-white{
    border-radius: 5px;
    font-size: inherit;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-gray{
    background: #424242;
    color: white;
}

.btn-white{
    color: #424242;
    background: white;
}



.title-tiles{
    background:var(--light-gray);
    color:white;
    padding: 0.5rem 0;
}

/********* CONTENT *************/
.main-content-container{
    background: white;
    color: var(--main-gray);
    width:100vw;
    margin-top:var(--nav-height);
    padding: 4rem 0;
}


.goBack{
    padding: 0.5rem 0;
    cursor: pointer;
}

/************ MOVIE CARDS ***********/

.movie-cards-container{
    padding: 2rem 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/*********HOME PAGE CARDS *********/
.home-page-card .card-content{
    position:relative;
    background: var(--main-gray);
    
}

.home-page-card .card-content .card-content-bg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:4rem;
    opacity: 0.1;
}

.home-page-card .card-content .card-content-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:1.5rem;
}

.movie-card{
    width:110px;
    height:160px;
    background: white;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.movie-card .card-content{
    height: 90%;
    width:100%;
    color: white;
}


.movie-card-image{
    width:100%;
    height:100%;
}

.movie-card-image img{
    height:100%;
}


/************** FOOTER *******************/
footer{
    background: var(--light-gray);
    padding: 4rem 0;
    color:white;
}

footer .footer-nav-links ul{
    width:100%;
    max-width:800px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}

footer .footer-nav-links ul li{
    margin: 5px;

}

footer .footer-copyright{
    padding: 1rem 0;
    font-size:0.8rem;
}

footer .flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
  
}

footer .footer-social-media ul,
footer .footer-apps-downloads ul{
    width:200px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:20px;
    padding: 0.5rem 0;
}

footer .footer-apps-downloads ul{
    width:400px;
}

footer .footer-apps-downloads ul li img{
    height:40px;
    width:auto;
}


@media (max-width: 769px){
    footer .flex{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 500px){
    .show-m{
        display:block;
    }
    .hide-m{
        display:none;
    }

    .mobile-menu{
        position:fixed;
        top: var(--nav-height);
        left:0;
        width:100%;
        height: 150px;
        background: rgba(0,0,0, 0.8);
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .footer-apps-downloads ul{
        flex-wrap: wrap;
        width:250px;
    }

    footer .footer-apps-downloads ul li img{
        height:35px;
        width:auto;
    }

    .movie-card{
        width:200px;
        height:300px;
    }
    

}


/*************** LOGIN FORM *******************/
.loginContainer{
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.alert-container{
    padding: 6px 12px;
    background:red;
    color:white;
}

.loginForm{
    width:500px;
    max-width:90%;
    height:300px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.inputField{
    width: 80%;
    height:30px;
    padding: 5px 10px;
}
.loginForm #usernameField,
.loginForm #passwordField{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}

.loginForm small{
    color: red;
    font-size:0.7rem;
    font-style: italic;
}

.loginForm #openRegister{
    cursor: pointer;
    color: #333;
}
.loginForm #openRegister:hover{
    text-decoration: underline;
}
